
p{
	font-weight: bold;
	font-size: 25px;

}
.first-half{
	margin:20px auto;
	text-align: center;
}
.btn{
	margin-top:10px;
	font-family: 'Indie Flower', cursive;
	font-size:23px;

}


.second-half{
	margin-top: 30px;
	margin-bottom: 60px;
	border:1px solid red;
	border-radius: 8px;
	padding:40px;
	background:url('images/standup.jpg');
	height:150px;

}
.oneliner{
	color: #F0E7E7;
	font-weight: bold;
	font-size: 20px;
	text-align: justify;
	line-height: 30px;
	font-family: 'Roboto', sans-serif;

}